<footer class="footer p-2">
  <div class="content has-text-centered">
    <p>
      <strong>OdontoWeb</strong> by <a href="">Gustavo Armitano</a>.
      <i class="fa fa-lg fa-copyright"></i> Copyright 2022
    </p>
  </div>
</footer>
