<div class="hero-foot">
  <footer class="footer p-2">
    <div class="content has-text-centered">
      <p>
        <strong>OdontoWeb</strong> by <a href="">Gustavo Armitano</a>. The
        source code is licensed by AGA soft
      </p>
    </div>
  </footer>
</div>
