<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <!-- ************************************************************************************ -->
    <!-- TABLA DE BASE DE DATOS -->
    <!-- ************************************************************************************ -->
    <section class="section py-3 mx-2 mt-1 add_guest">
      <div class="columns">
        <div class="column">
          <table class="table is-striped is-hoverable is-fullwidth">
            <thead class="is-info">
              <tr>
                <th title="Hora del evento">Hora</th>
                <th title="Tipo de evento">Tipo</th>
                <th title="Detalle">Detalle</th>
                <th title="Informacion adicional">Extra</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>9:00</td>
                <td>TURNO</td>
                <td>Sacar muela a Gustavo Armitano</td>
                <td>OSMEDICA</td>
                </tr>
                <td>9:30</td>
                <td>TURNO</td>
                <td>Limpieza a ceci</td>
                <td>OSMEDICA</td>
              </tr>
                <td>10:00</td>
                <td>TAREA</td>
                <td>Comprar la verdura</td>
                <td>Salta y chacabuco</td>
              </tr>
                <td>11:00</td>
                <td>TURNO</td>
                <td>Sacar muela a Ernesto</td>
                <td>OSDE</td>
              </tr>
                <td>13:00</td>
                <td>TAREA</td>
                <td>Hacer la comida</td>
                <td>En casa</td>
              </tr>
                <td>14:30</td>
                <td>TAREA</td>
                <td>Dormir la siesta</td>
                <td>Cama</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <%- include('partials/footer') %>
    <script src="scripts/task_today.js"></script>

  </body>
</html>
