<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <!-- ******************************************************************* -->
    <!-- Form to add new guest -->
    <!-- ******************************************************************* -->
    <section class="section py-3 mx-2 mt-1 add_guest">
      <!-- ******************************************************************* -->
      <div class="columns">
        <div class="column is-2">
          <div class="control">
            <input class="input" type="text" placeholder="Documento" />
          </div>
        </div>
        <div class="column is-3">
          <div class="control">
            <input class="input" type="text" placeholder="Nombre completo" />
          </div>
        </div>
        <div class="column is-4">
          <div class="control">
            <input class="input" type="text" placeholder="Direccion" />
          </div>
        </div>
        <div class="column is-3">
          <div class="control">
            <input class="input" type="text" placeholder="Localidad" />
          </div>
        </div>
      </div>
      <!-- ******************************************************************* -->
      <div class="columns">
        <div class="column is-5">
          <p class="control has-icons-left">
            <input class="input" type="email" placeholder="nombre@email.com" />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="column is-2">
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Fecha de nacimiento"
            />
          </div>
        </div>
        <div class="column is-3">
          <div class="control">
            <input class="input" type="text" placeholder="otro dato" />
          </div>
        </div>
        <!-- ************************************************************************** -->
        <div class="column is-3">
          <div class="select">
            <select>
              <option>Seleccione obra social</option>
              <option>Particular</option>
              <option>OSMEDICA</option>
              <option>OSEP</option>
              <option>OSDE</option>
              <option>SANCOR</option>
            </select>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-8"></div>
        <div class="column is-4">
          <div class="buttons">
            <button class="button is-info">Guardar</button>
            <button class="button is-info">Cancelar</button>
            <button class="button is-info">Borrar</button>
          </div>
        </div>
      </div>
    </section>

    <div class="container is-fluid">
      <div class="notification is-primary is-size-4 py-1">
        <strong>Consulta del registro de pacientes</strong>
      </div>
    </div>
    <section class="section py-3 mx-2 mt-1 add_guest">
      <!-- ************************************************************************************ -->
      <!-- TABLA DE BASE DE DATOS -->
      <!-- ************************************************************************************ -->
      <div class="columns">
        <div class="column is-12">
          <table class="table is-striped is-hoverable is-fullwidth">
            <thead class="is-info">
              <tr>
                <th title="Position">Editar</th>
                <th title="Played">Documento</th>
                <th title="Won">Nombre</th>
                <th title="Drawn">Direccion</th>
                <th title="Lost">Localidad</th>
                <th title="Goals for">Email</th>
                <th title="Goals against">Nacimiento</th>
                <th title="Points">Obra social</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>X</th>
                <td>25173444</td>
                <td>Gustavo Armitano</td>
                <td>San Martin 788</td>
                <td>Catamarca</td>
                <td>garmitano@gmail.com</td>
                <td>08/11/1976</td>
                <td>OSMEDICA</td>
              </tr>
              <tr>
                <th>X</th>
                <td>25173444</td>
                <td>Gustavo Armitano</td>
                <td>San Martin 788</td>
                <td>Catamarca</td>
                <td>garmitano@gmail.com</td>
                <td>08/11/1976</td>
                <td>OSMEDICA</td>
              </tr>
              <tr>
                <th>X</th>
                <td>25173444</td>
                <td>Gustavo Armitano</td>
                <td>San Martin 788</td>
                <td>Catamarca</td>
                <td>garmitano@gmail.com</td>
                <td>08/11/1976</td>
                <td>OSMEDICA</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <%- include('partials/footer') %>
  </body>
</html>
