<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <!-- ************************************************************************************ -->
    <!-- TABLA DE BASE DE DATOS -->
    <!-- ************************************************************************************ -->
    <section class="section py-3 mx-1 mt-1 is-large">
      <div class="columns">
        <div class="column">
          <div class="scroll-table-inicio">

            <table class="table is-striped is-hoverable is-fullwidth">
              <thead class="is-info">
              <tr>
                <th title="Hora programada">Hora</th>
                <th title="Tipo de evento">Tipo</th>
                <th title="Detalle del evento">Detalle</th>
                <th title="Informacion adicional">Adicional</th>
                <th title="Estado del evento">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>9:00</td>
                <td>TURNO</td>
                <td>Sacar muela a Gustavo Armitano</td>
                <td>OSMEDICA</td>
                <td>X</td>
              </tr>
              <td>9:30</td>
              <td>TURNO</td>
              <td>Limpieza a ceci</td>
              <td>OSMEDICA</td>
                <td>X</td>
              </tr>
                <td>10:00</td>
                <td>TAREA</td>
                <td>Comprar la verdura</td>
                <td>Salta y chacabuco</td>
                <td>X</td>
              </tr>
                <td>11:00</td>
                <td>TURNO</td>
                <td>Sacar muela a Ernesto</td>
                <td>OSDE</td>
                <td>X</td>
              </tr>
                <td>13:00</td>
                <td>TAREA</td>
                <td>Hacer la comida</td>
                <td>En casa</td>
                <td>X</td>
              </tr>
                <td>14:30</td>
                <td>TAREA</td>
                <td>Dormir la siesta</td>
                <td>Cama</td>
                <td>X</td>
                <tr>
                  <td>9:00</td>
                  <td>TURNO</td>
                  <td>Sacar muela a Gustavo Armitano</td>
                  <td>OSMEDICA</td>
                  <td>X</td>
                  </tr>
                  <td>9:30</td>
                  <td>TURNO</td>
                  <td>Limpieza a ceci</td>
                  <td>OSMEDICA</td>
                  <td>X</td>
                </tr>
                  <td>10:00</td>
                  <td>TAREA</td>
                  <td>Comprar la verdura</td>
                  <td>Salta y chacabuco</td>
                  <td>X</td>
                </tr>
                  <td>11:00</td>
                  <td>TURNO</td>
                  <td>Sacar muela a Ernesto</td>
                  <td>OSDE</td>
                  <td>X</td>
                </tr>
                  <td>13:00</td>
                  <td>TAREA</td>
                  <td>Hacer la comida</td>
                  <td>En casa</td>
                  <td>X</td>
                </tr>
                  <td>14:30</td>
                  <td>TAREA</td>
                  <td>Dormir la siesta</td>
                  <td>Cama</td>
                  <td>X</td>
                  <tr>
                    <td>9:00</td>
                    <td>TURNO</td>
                    <td>Sacar muela a Gustavo Armitano</td>
                    <td>OSMEDICA</td>
                    <td>X</td>
                    </tr>
                    <td>9:30</td>
                    <td>TURNO</td>
                    <td>Limpieza a ceci</td>
                    <td>OSMEDICA</td>
                    <td>X</td>
                  </tr>
                    <td>10:00</td>
                    <td>TAREA</td>
                    <td>Comprar la verdura</td>
                    <td>Salta y chacabuco</td>
                    <td>X</td>
                  </tr>
                    <td>11:00</td>
                    <td>TURNO</td>
                    <td>Sacar muela a Ernesto</td>
                    <td>OSDE</td>
                    <td>X</td>
                  </tr>
                  <td>13:00</td>
                  <td>TAREA</td>
                    <td>Hacer la comida</td>
                    <td>En casa</td>
                    <td>X</td>
                  </tr>
                    <td>14:30</td>
                    <td>TAREA</td>
                    <td>Dormir la siesta</td>
                    <td>Cama</td>
                    <td>X</td>
                    <tr>
                      <td>9:00</td>
                      <td>TURNO</td>
                      <td>Sacar muela a Gustavo Armitano</td>
                      <td>OSMEDICA</td>
                      <td>X</td>
                      </tr>
                      <td>9:30</td>
                      <td>TURNO</td>
                      <td>Limpieza a ceci</td>
                      <td>OSMEDICA</td>
                      <td>X</td>
                    </tr>
                      <td>10:00</td>
                      <td>TAREA</td>
                      <td>Comprar la verdura</td>
                      <td>Salta y chacabuco</td>
                      <td>X</td>
                    </tr>
                      <td>11:00</td>
                      <td>TURNO</td>
                      <td>Sacar muela a Ernesto</td>
                      <td>OSDE</td>
                      <td>X</td>
                    </tr>
                      <td>13:00</td>
                      <td>TAREA</td>
                      <td>Hacer la comida</td>
                      <td>En casa</td>
                      <td>X</td>
                    </tr>
                      <td>14:30</td>
                      <td>TAREA</td>
                      <td>Dormir la siesta</td>
                      <td>Cama</td>
                      <td>X</td>
              </tr>
            </tbody>
            </table>
        </div>
        </div>
      </div>
      <%- include('partials/footer') %>
    </section>

  </body>
</html>
